---
title: Sample contract
---

= partial(:contract, locals: { designer: "Liz Abinante", contractor: "Jane Donut", pattern: "Maple Bacon Shawlette", date: "March 20, 2016", cost: "$10", per_yard: 0.15, yardage: 600 })